header {
    width: 100%;
    height: 100px;
    background-color: #174a5c;
    color: white;
    text-align: center;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #174a5c;
    color: white;
    text-align: center;
}